{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('DIR_VALIDATION') }}</h1>

<p>{{ lang('DIR_VALIDATION_EXPLAIN') }}</p>

<form id="links" method="post" action="{{ U_ACTION }}">

<div class="clearfix"></div>

{% if pagination %}
	<div class="pagination">
		{% include 'pagination.html' %}
	</div>
{% endif %}

	<table class="table1 zebra-table">
	<col class="row1" /><col class="row1" /><col class="row2" />
		<tbody>
		{% if linkrow %}
		{% for linkrow in linkrow %}
			<tr>
				<td style="width: 5%;"></td>
				<td>
					<strong><a href="{{ linkrow.LINK_URL }}">{{ linkrow.LINK_NAME }}</a></strong>
					<br /><small>{{ linkrow.L_DIR_USER_PROP }}</small><br />
					{% if linkrow.LINK_DESC %}<br /><span>{{ linkrow.LINK_DESC }}</span>{% endif %}
					{% if linkrow.BANNER %}<br />------------------------------<br />{{ linkrow.BANNER }}{% endif %}
				</td>
				<td style="text-align: center; white-space: nowrap;"><input type="checkbox" class="radio" name="link_id[]" value="{{ linkrow.LINK_ID }}" /></td>
			</tr>
		{% endfor %}
		{% else %}
			<tr>
				<td colspan="3" style="text-align: center;">{{ lang('DIR_NO_LINK') }}</td>
			</tr>
		{% endif %}
		</tbody>
	</table>

<fieldset class="display-options">
	{{ lang('DISPLAY_LOG') }}{{ lang('COLON') }} &nbsp;{{ S_LIMIT_DAYS }}&nbsp;{{ lang('SORT_BY') }}{{ lang('COLON') }} {{ S_SORT_KEY }} {{ S_SORT_DIR }}{% if pagination %}&nbsp;{{ lang('DIR_SHOW') }}{{ lang('COLON') }} <input class="inputbox autowidth" type="number" name="links_per_page" id="links_per_page" min="0" max="999" value="{{ LINKS_PER_PAGE }}" />{% endif %}
	<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort" />
</fieldset>

<hr />

{% if pagination %}
	<div class="pagination">
		{% include 'pagination.html' %}
	</div>
{% endif %}

	<fieldset class="quick">
		<select name="action">{{ S_LINKS_OPTIONS }}</select>
		<input class="button2" type="submit" name="submit" value="{{ lang('SUBMIT') }}" />
		<p class="small"><a href="#" onclick="marklist('links', 'link_id', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('links', 'link_id', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
</form>

{% include 'overall_footer.html' %}
